In [1]:
#lin reg and cross val

In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston

In [71]:
X, y = load_boston()['data'], load_boston()['target']

C:\Users\Panic\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [72]:
X = pd.DataFrame(X, columns = load_boston()['feature_names'])

In [73]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
np.random.seed(123)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [76]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
273,0.22188,20.0,6.96,1.0,0.464,7.691,51.8,4.3665,3.0,223.0,18.6,390.77,6.58
52,0.05360,21.0,5.64,0.0,0.439,6.511,21.1,6.8147,4.0,243.0,16.8,396.90,5.28
181,0.06888,0.0,2.46,0.0,0.488,6.144,62.2,2.5979,3.0,193.0,17.8,396.90,9.45
452,5.09017,0.0,18.10,0.0,0.713,6.297,91.8,2.3682,24.0,666.0,20.2,385.09,17.27
381,15.87440,0.0,18.10,0.0,0.671,6.545,99.1,1.5192,24.0,666.0,20.2,396.90,21.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.08187,0.0,2.89,0.0,0.445,7.820,36.9,3.4952,2.0,276.0,18.0,393.53,3.57
476,4.87141,0.0,18.10,0.0,0.614,6.484,93.6,2.3053,24.0,666.0,20.2,396.21,18.68
322,0.35114,0.0,7.38,0.0,0.493,6.041,49.9,4.7211,5.0,287.0,19.6,396.90,7.70
382,9.18702,0.0,18.10,0.0,0.700,5.536,100.0,1.5804,24.0,666.0,20.2,396.90,23.60
365,4.55587,0.0,18.10,0.0,0.718,3.561,87.9,1.6132,24.0,666.0,20.2,354.70,7.12

In [77]:
from sklearn.preprocessing import StandardScaler

In [78]:
ss = StandardScaler()

In [79]:
ss.fit(X_train)

StandardScaler()

In [80]:
X_train_transfromed = ss.transform(X_train)
X_test_transfromed = ss.transform(X_test)

In [81]:
pd.DataFrame(X_train_transfromed)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.358429,0.373206,-0.575289,3.982103,-0.756717,1.945607,-0.560172,0.241346,-0.736411,-1.074980,0.074392,0.345382,-0.833654
1,-0.376741,0.416765,-0.768547,-0.251124,-0.976585,0.278163,-1.644439,1.393485,-0.617916,-0.954568,-0.770569,0.415212,-1.013901
2,-0.375078,-0.497977,-1.234121,-0.251124,-0.545643,-0.240441,-0.192863,-0.590969,-0.736411,-1.255597,-0.301147,0.415212,-0.435725
3,0.171309,-0.497977,1.055687,-0.251124,1.433171,-0.024238,0.852554,-0.699068,1.751988,1.592137,0.825468,0.280679,0.648527
4,1.344784,-0.497977,1.055687,-0.251124,1.063792,0.326208,1.110377,-1.098613,1.751988,1.592137,0.825468,0.415212,1.176788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,-0.373664,-0.497977,-1.171166,-0.251124,-0.923817,2.127895,-1.086412,-0.168694,-0.854906,-0.755889,-0.207262,0.376823,-1.250994
350,0.147505,-0.497977,1.055687,-0.251124,0.562492,0.240009,0.916127,-0.728669,1.751988,1.592137,0.825468,0.407352,0.844025
351,-0.344364,-0.497977,-0.513798,-0.251124,-0.501670,-0.385989,-0.627276,0.408223,-0.499420,-0.689662,0.543814,0.415212,-0.678365
352,0.617104,-0.497977,1.055687,-0.251124,1.318839,-1.099598,1.142163,-1.069811,1.751988,1.592137,0.825468,0.415212,1.526189
353,0.113170,-0.497977,1.055687,-0.251124,1.477144,-3.890447,0.714814,-1.054376,1.751988,1.592137,0.825468,-0.065507,-0.758782

In [82]:
from sklearn.linear_model import LinearRegression, HuberRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [83]:
lr = LinearRegression()
lr.fit(X_train, y_train)
mean_squared_error(y_test, lr.predict(X_test))

28.405854810508206

In [84]:
mean_absolute_error(y_test, lr.predict(X_test))

3.691362677116262

In [85]:
r2_score(y_test, lr.predict(X_test))#больше 0.6 неплохо наша модель может объяснить такой процент дисперсии

0.6485645742370707

In [86]:
hr = HuberRegressor()
hr.fit(X_train, y_train)
mean_squared_error(y_test, hr.predict(X_test))

C:\Users\Panic\anaconda3\lib\site-packages\sklearn\linear_model\_huber.py:332: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

35.8377483430946

In [87]:
mean_absolute_error(y_test, hr.predict(X_test))

3.986871177845188

In [88]:
r2_score(y_test, hr.predict(X_test))

0.5566176609942747

## КроссВалидация на валидационной выборке(на обучающей обучать, на вал подбирать параметры)

1.1 Максимально честно

In [89]:
np.random.seed(123)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [90]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train,test_size = 0.3)

In [91]:
X_train.shape

(247, 13)

In [92]:
X_val.shape

(107, 13)

In [93]:
X_test.shape

(152, 13)

In [94]:
from sklearn.linear_model import Ridge

In [95]:
alpha = [1e-3, 1e-1, 1, 10, 100]

In [96]:
ridge = Ridge()

In [97]:
mse_alphas = []

for a in alpha:
    ridge = Ridge(alpha = a)
    ridge.fit(X_train, y_train)
    mse_alphas.append(mean_squared_error(y_val, ridge.predict(X_val)))
print(mse_alphas)

[28.557581592232545, 28.37275423853071, 27.9272815016194, 26.01379106617087, 23.607935265266043]

In [98]:
ridge = Ridge(alpha = 100)
ridge.fit(X_train, y_train)
mean_squared_error(y_test, ridge.predict(X_test))

29.456711122858547

## 1.2Менее честная но на маленьких выборках норм в практике

In [99]:
np.random.seed(123)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [100]:
from sklearn.model_selection import KFold

In [101]:
kf = KFold(n_splits = 5)
errors = []

for a in alpha:
    errors_for_alpha = []
    for train_index, test_index in kf.split(X_train):
        X_train_train, X_train_val = np.array(X_train)[train_index], np.array(X_train)[test_index]
        y_train_train, y_train_val = np.array(y_train)[train_index], np.array(y_train)[test_index]
        ridge = Ridge(alpha = a)
        ridge.fit(X_train_train, y_train_train)
        errors_for_alpha.append(mean_squared_error(y_train_val, ridge.predict(X_train_val)))
    errors.append(np.mean(errors_for_alpha))

In [102]:
errors

[22.56317048743283,
 22.55289736206018,
 22.66404857942764,
 22.963945150142592,
 24.91965437540178]

In [104]:
alpha

[0.001, 0.1, 1, 10, 100]

In [105]:
ridge = Ridge(alpha = 100)
ridge.fit(X_train, y_train)
mean_squared_error(y_test, ridge.predict(X_test))

28.06072645580966